# Dependency directories
node_modules/

# Build output folder
dist/

# The entire backend is not needed to build the frontend
backend/

# Git and Docker config files
.git
.gitignore
Dockerfile*
cloudbuild*.yaml

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
npm-debug.log*

# Documentation
README.md
